{
  "presets": ["next/babel"],
  "env": {
    "development": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "cypress/**",
              "**/*.cy.*",
              "**/*.spec.*",
              "middleware.ts"
            ]
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "cypress/**",
              "**/*.cy.*",
              "**/*.spec.*",
              "middleware.ts"
            ]
          }
        ]
      ]
    }
  }
}
